img {
    width: 100%;
    display: block;
    height: 200px;
    object-fit: contain;
}

header {
    height: 100px;
    background-color: goldenrod;
}

body {
    background-color: dodgerblue;
}

.card {
    margin-bottom: 30px;
}